* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}

#container {
    width: 960px;
    height: 960px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.grid {
    background-color: blue;
    border: 1px solid black;
    flex-shrink: 0;
}

#wrapper {
    text-align: center;
}

#grid-draw-btn {
    margin-top: 30px;
    padding: 5px;
}