* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}

#container {
    width: 960px;
    height: 960px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-top: 100px;
}

.grid {
    background-color: lightgrey;
    flex-shrink: 0;
}

#wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

#grid-draw-btn {
    padding: 5px;
    width: 200px;
    color: white;
    background: coral;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 3px;
}

#footer {
    padding: 20px;
}